<% layout("layouts/boilerplate.ejs") %>

<body>
  <div class="row my-5">
    <div class="col-8 offset-2">
      <h3>List your property with us!</h3>
      <form action="/listings/new" method="post" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="title" class="form-label">Enter Title</label>
          <input
            name="listing[title]"
            type="text"
            placeholder="Add a catchy title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Enter Description</label>
          <textarea
            name="listing[description]"
            id=""
            placeholder="Enter description"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please Enter a short description</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Enter Image URL</label>
          <input
            name="listing[image]"
            type="text"
            placeholder="Enter image URL/Link"
            class="form-control"
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Enter Price</label>
            <input
              name="listing[price]"
              placeholder="Eg. 1200, 1500"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Enter Country</label>
            <input
              name="listing[country]"
              type="text"
              placeholder="Eg. India, Russia, USA"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Country should be valid!</div>
          </div>
        </div>
        <div>
          <label for="location" class="form-label">Enter Location</label>
          <input
            name="listing[location]"
            type="text"
            placeholder="Jabalpur, Madhya pradesh, 482001"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valid!</div>
        </div>
        <button type="submit" class="btn btn-danger btn-lg my-5">Add</button>
      </form>
    </div>
  </div>
</body>
