<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wander Lust</title>
</head>
<body>
    <form action="" method = "post">
        <input name="title" type="text" placeholder="Enter title">
        <br>
       <textarea name="description" id="" placeholder="Enter description"></textarea>
        <br>
        <input name="image" type="text" placeholder="Enter image URL/Link">
        <br>
        <input name="price" type="number" placeholder="Enter price">
        <br>
        <input name="country" type="text" placeholder="Enter country">
        <br>
        <input name="location" type="text" placeholder="Enter location">
        <br>
        <button type="submit">Add</button>
    </form>
</body>
</html>